body{
  background-color:black;
}
.header{
  position:fixed;
  padding: 0;
  margin:0;
  top:0;
  bottom:0;
  width: 100%;
  height:9.4vw;
  background-color:black;
  z-index:1;
}
.header a{
  font-family: "Oswald";
  color:white;
  display: inline-block;
  text-decoration: none;
}
#link hr{
  display: block;
  height: 5px;
  background-image: url("https://cdn.discordapp.com/attachments/754618458305724527/943404881245515826/poza-linie.png ");
  border: none;
  margin-top: 2%;
}
#title{
  font-family: "Oswald";
  font-size: 3.5vw;
  color:white;
  display: inline-block;
  text-decoration: none;
  margin: 2% 0% 0 2.7%;

}

#title-tbb{
  font-family: "Oswald";
  font-size: 2vw;
  color:white;
  display: inline-block;
  text-decoration: none;
  margin: 2% 5% 0 12%;

}
#title-tib{
  font-family: "Oswald";
  font-size: 2vw;
  color:white;
  display: inline-block;
  text-decoration: none;
  margin: 2% 5% 0 0%;
}
#title-tsb{
  font-family: "Oswald";
  font-size: 2vw;
  color:white;
  display: inline-block;
  text-decoration: none;
  margin: 2% 5% 0 0%;
}

#title-game{
  font-family: "Oswald";
  font-size: 2vw;
  color:white;
  display: inline-block;
  text-decoration: none;
  margin: 2% 3% 0 4.3%;
}
#title-ab{
  font-family: "Oswald";
  font-size: 2vw;
  color:white;
  display: inline-block;
  text-decoration: none;
  margin: 2% 3% 0 0%;
}
#title-soc{
  font-family: "Oswald";
  font-size: 2vw;
  color:white;
  display: inline-block;
  text-decoration: none;
  margin: 2% 0% 0 0%;
}
.title-the-game{
  color:white;
  font-size:3vw;
  font-family:"Oswald";
  display:block;
  margin-top:13%;
  margin-left:12%;
}
.game-info{
  color:white;
  font-family:"Oswald";
  display:block;
  margin-left:12%;
  margin-right:50%;
  font-size:1.5vw;
  text-align:left;
  position:absolute;
}
.coming-soon{
  color:white;
  font-family:"Oswald";
  margin-top:37%;
  text-align:center;
  font-size:7vw;
  z-index:1;

}
.typewriter h2 {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  text-align:center;
  font-size:7vw;
  margin-top:37%;
  animation: 
  typing 4.5s steps(40, end),
  blink-caret .75s step-end infinite;
  animation-iteration-count:infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
#footer{
  width: 100%;
  overflow: hidden;
  margin: 5px auto 10px auto;
}
.contact{
  z-index:1;
}
#button-addon1 {
  color: #ffffff;
}

i {
  color: #ffffff;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color:white;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}