body{
    background-color: black; 
    padding: 0; 
    margin: 0;
}

.header{
    position: fixed;
    padding: 0;
    margin:0;
    top:0;
    bottom:0;
    width: 100%;
}
.header a{
    font-family: "Oswald";
    font-size: 45px;
    color:white;
    display: inline-block;
    text-decoration: none;
}
#ptlink hr{
    display: block;
    height: 5px;
    background-image: url("../poza-linie.png");
    border: none;
    margin-top: 2%;
}
#titlu{
    font-family: "Oswald";
    font-size: 55px;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 0% 0 0%;
}

#titlu-tbb{
    font-family: "Oswald";
    font-size: 40px;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 5% 0 12%;
    
}
#titlu-tib{
    font-family: "Oswald";
    font-size: 40px;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 5% 0 0%;
}
#titlu-tsb{
    font-family: "Oswald";
    font-size: 40px;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 8% 0 0%;
}

#titlu-game{
    font-family: "Oswald";
    font-size: 40px;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 4% 0 5%;
}
#titlu-ab{
    font-family: "Oswald";
    font-size: 40px;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 4% 0 0%;
}
#titlu-soc{
    font-family: "Oswald";
    font-size: 40px;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 4% 0 0%;
}