body{
  background-color:black;
  margin:0px;
  min-height:100%;
  width:100%;
  font-family: "Oswald";
}
footer{
  margin:0px;
  min-height:100%;
  width:100%;
}
a{
  text-decoration: none;
  color: white;
}
.header{
  position:sticky;
  width:100vw;
  height:10vh;
  text-align:center;
  font-size:1.8vw;
  z-index:20;
  background-image:url(../header.png);
  background-repeat:none;
  background-size:cover;
  display:block;
  float:top;
}
.tbbh{
  width:7.5vw;
  height:10vh;
  float:left;
  margin-top:2.2vh;
}
.tibh{
  width:7.5vw;
  height:10vh;
  float:left;
  margin-top:2.2vh;
}
.tsbh{
  width:7.5vw;
  height:10vh;
  float:left;
  margin-top:2.2vh;
}
.rmh{
  width:17.5vw;
  height:10vh;
  float:left;
  margin-top:2.2vh;
}
.th{
  width:20vw;
  height:10vh;
  float:left;
  font-size:3vw;
}
.gh{
  width:13.3vw;
  height:10vh;
  float:right;
  margin-top:2.2vh;
}
.abh{
  width:13.3vw;
  height:10vh;
  float:right;
  margin-top:2.2vh;
}
.soch{
  width:13.3vw;
  height:10vh;
  float:right;
  margin-top:2.2vh;
}
.title-game{
  color:white;
  font-family:"Oswald";
  padding-bottom:10rem;
  font-size:2.5vw;
  position:absolute;
  margin-left:12%;
  margin-top:3%;
}
.game-content{
  color:white;
  font-family:"Oswald";
  padding-bottom:10rem;
  font-size:1.5vw;
  position:absolute;
  margin-top:13%;
  margin-right:50%;
  margin-left:12%;
}
.typewriter h2 {
  overflow: hidden;
  border-right: .15em solid rgb(194, 89, 3);
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  text-align:center;
  font-size:7vw;
  margin-top:45%;
  animation: 
  typing 4.5s steps(40, end),
  blink-caret .75s step-end infinite;
  animation-iteration-count:infinite;
  color:white;
  font-family:"Oswald";
  text-transform:uppercase;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(230, 111, 0, 0.808); }
}
#footer-cs{
  color:white;
  text-transform:uppercase;
  font-family:"Oswald";
  text-align:center;
  margin-top:20%;
  font-size:1.8vw;
  width:100vw;
  height:5vh;
}
#content{
  width:100vw;
  height:7vh;
}
#email-cs{
  color:white;
  font-family:"Oswald";
  margin-bottom:3%;
  text-align:center;
  width:33.3vw;
  height:7vh;
  float:left;
}
.email{
  font-size:1.2vw;
  margin-left:12%;
}
#quote{
  color:white;
  font-family:"Oswald";
  font-style:italic;
  text-align:center;
  font-size:1.1vw;
  width:33.3vw;
  float:left;
}
#social{
  float:right;
  width:33.4vw;
  
}
.fphoto img{
  margin-top:4vh;
  width:2vw;
  height:2vw;
}
#instagram{
  width:14.7vw;
  float:left;
  text-align:right;
}
#twitter{
  width:4vw;
  float:left;
  text-align:center;
   
}
#discord{
  width:14.7vw;
  float:right;
  text-align:left;
}



