body{
  background-color:black;
  margin:0px;
  min-height:100%;
  width:100%;
  font-family: "Oswald";
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}
footer{
  margin:0px;
  min-height:100%;
  width:100%;
}
a{
  text-decoration: none;
  color: white;
}
.pg{
  height:100vh;
  width:100vw;
}
.header{
  position: sticky;
  float: top;
  display: block;
  width: 100vw;
  height: 6.6vw;
  text-align: center;
  font-size: 2.3vw;
  z-index: 20;
  background-image: url("../header.png");
  background-repeat: none;
  background-size: cover;
}
.tbbh{
  width: 8.125vw;
  height: 10vh;
  float:left;
  margin-top: 3vh;
}
.tibh{
  width: 8.125vw;
  height: 10vh;
  float:left;
  margin-top: 3vh;
}
.tsbh{
  width: 8.125vw;
  height: 10vh;
  float:left;
  margin-top: 3vh;
}
.rmh{
  width: 18.125vw;
  height: 10vh;
  float:left;
  margin-top: 3vh;
}
.th{
  width: 15vw;
  height: 10vh;
  float:left;
  font-size: 3vw;
  margin-top: 1vh;
}
.th img{
  height:5.7vw;
  width: auto;
}
.gh{
  width: 14.13vw;
  height: 10vh;
  float:right;
  margin-top: 3vh;
}
.abh{
  width: 14.13vw;
  height: 10vh;
  float:right;
  margin-top: 3vh;
}
.soch{
  width: 14.13vw;
  height: 10vh;
  float:right;
  margin-top: 3vh;
}
.title-game{
  color:white;
  font-family:"Oswald";
  padding-bottom:10rem;
  font-size:2.5vw;
  position:absolute;
  margin-left:12%;
  height:10vh;
}
.game-content{
  color:white;
  font-family:"Oswald";
  padding-bottom:10rem;
  font-size:1.5vw;
  position:absolute;
  margin-top:20vh;
  width:45vw;
  margin-left:12%;
  float:left;
}
.animation-game{
  width:20vw;
  height: 30vh;
  margin:auto 0;
  margin-left: 25vw;
  margin-right: 20vw;
  float: right;
  margin-top:25vh;
}
.animation-game img{
  height: 20vw;
  border-radius: 5%;
}
.typewriter{
  width: 100vw;
  height: 40vh;
}
.typewriter h2 {
  overflow: hidden;
  border-right: .15em solid rgb(194, 89, 3);
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  text-align:center;
  font-size:7vw;
  margin-top:45%;
  animation: 
  typing 4.5s steps(40, end),
  blink-caret .75s step-end infinite;
  animation-iteration-count:infinite;
  color:white;
  font-family:"Oswald";
  text-transform:uppercase;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(230, 111, 0, 0.808); }
}
#footer-cs{
  color:white;
  text-transform:uppercase;
  font-family:"Oswald";
  text-align:center;
  margin-top:20%;
  font-size:1.8vw;
  width:100vw;
  height:5vh;
}
#content{
  width:100vw;
  height:7vh;
}
#email-cs{
  color:white;
  font-family:"Oswald";
  margin-bottom:3%;
  text-align:center;
  width:33.3vw;
  height:7vh;
  float:left;
}
.email{
  font-size:1.2vw;
  margin-left:12%;
}
#quote{
  color:white;
  font-family:"Oswald";
  font-style:italic;
  text-align:center;
  font-size:1.1vw;
  width:33.3vw;
  float:left;
}
#social{
  float:right;
  width:33.4vw;
  
}
.fphoto img{
  margin-top:4vh;
  width:2vw;
  height:2vw;
}
#instagram{
  width:14.7vw;
  float:left;
  text-align:right;
}
#twitter{
  width:4vw;
  float:left;
  text-align:center;
   
}
#discord{
  width:14.7vw;
  float:right;
  text-align:left;
}
@media(max-aspect-ratio:5/4){
  .title-game{
  color:white;
  font-family:"Oswald";
  padding-bottom:10rem;
  font-size:5.5vw;
  margin-left:12%;
  margin-top:3%;
  text-align:center;
  }
  .game-content{
  color:white;
  font-family:"Oswald";
  padding-bottom:10rem;
  font-size:2.5vw;
  margin-top:23%;
  text-align:center;
  width:85vw;
  margin-right:7.5vw;
  margin-left:7.5vw;
  margin-bottom:10vw;;
  }
  .animation-game{
    width:80vw;
    height: 45vh;
    margin:auto 0;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
    margin-top:55vh;
  }
  .animation-game img{
    width: 27vw;
    border-radius: 5%;
    height:auto;
  }
  .typewriter h2{
    overflow: hidden;
    border-right: .15em solid rgb(194, 89, 3);
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    text-align:center;
    font-size:7vw;
    margin-top:60vh;
    animation: 
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
    animation-iteration-count:infinite;
    color:white;
    font-family:"Oswald";
    text-transform:uppercase;
  }
  #footer{
    width: 100vw;
    height: 32vh;
    margin-top:20vh;
  }
  #footer-cs{
    color:white;
    text-transform:uppercase;
    font-family:"Oswald";
    text-align:center;
    margin-top:35%;
    font-size:2.8vh;
    width:100vw;
    height:7vh;
  }
  #content{
    width:100vw;
    height:30vh;
  }
  #email-cs{
    color:white;
    font-family:"Oswald";
    margin-bottom:3%;
    text-align:center;
    height:5vh;
    width: 100vw;
    font-size:1.5vh;
  }
  .email{
    margin:0;
    font-size:2.5vh;
  }
  #quote{
    color:white;
    font-family:"Oswald";
    font-style:italic;
    text-align:center;
    font-size:2.5vh;
    width:100vw;
    height: 9vh;
  }
  #social{
    width:100vw;
    height: 8vh;
  }
  .fphoto img{
    width:5vh;
    height:5vh;
  }
  #instagram{
    width:40vw;
    text-align:right;
    height: 6vh;
  }
  #twitter{
    width:20vw;
    text-align:center;
    height: 6vh;
  }
  #discord{
    width:40vw;
    height: 6vh;
    text-align:left;
  }
}

 


