body{
  background-color:black;
  margin:0px;
  min-height:100%;
  width:100%;
  font-family: "Oswald";
}
footer{
  margin:0px;
  min-height:100%;
  width:100%;
}
a{
  text-decoration: none;
  color: white;
}
.header{
  position:fixed;
  width:100vw;
  height:10vh;
  text-align:center;
  font-size:1.8vw;
  z-index:20;
  background-image:url(../header.png);
  background-repeat:none;
  background-size:cover;
  display:block;
  float:top;
}
.tbbh{
  width:7.5vw;
  height:10vh;
  float:left;
  margin-top:2.2vh;
}
.tibh{
  width:7.5vw;
  height:10vh;
  float:left;
  margin-top:2.2vh;
}
.tsbh{
  width:7.5vw;
  height:10vh;
  float:left;
  margin-top:2.2vh;
}
.rmh{
  width:17.5vw;
  height:10vh;
  float:left;
  margin-top:2.2vh;
}
.th{
  width:20vw;
  height:10vh;
  float:left;
  font-size:3vw;
}
.gh{
  width:13.3vw;
  height:10vh;
  float:right;
  margin-top:2.2vh;
}
.abh{
  width:13.3vw;
  height:10vh;
  float:right;
  margin-top:2.2vh;
}
.soch{
  width:13.3vw;
  height:10vh;
  float:right;
  margin-top:2.2vh;
}
