body{
    background-color: rgb(14, 14, 14); 
    padding: 0; 
    margin: 0;
    font-family: "Oswald";
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: white;
}
.major{
  width:100vh;
  height: 500vh;
}
.header{
  position: absolute;
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-size: 1.8vw;
  z-index: 20;
}
.tbbh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.tibh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.tsbh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.rmh{
  width: 17.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.th{
  width: 20vw;
  height: 10vh;
  float:left;
  font-size: 3vw;
}
.gh{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.abh{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.soch{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.bg{
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.bg img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#TBB{
  width: 100vw;
  height: 100vh;
}
.title1{
  text-align: center;
  font-size: 5vw;
}
.description{
  width:35vw;
  height: 50vh;
  margin-left: 7.5vw;
  margin-right: 7.5vw;
  text-align: center;
  font-size: 1.3vw;
  float: left;
}
.representation{
  width:30vw;
  height: 50vh;
  margin:auto 0;
  margin-left: 10vw;
  margin-right: 10vw;
  float: right;
}
.representation img{
  height: 23vw;
  border-radius: 5%;
}
#TIB{
  width: 100vw;
  height: 100vh;
}
#TSB{
  width: 100vw;
  height: 100vh;
  background-image: url("../IMG_0874\ \(1\).png");
  background-size: cover;
}
#RM{
  width: 100vw;
  height: 100vh;
}
.representation1{
  width: 100vw;
  height: 70vh;
  text-align: center;
}
.representation1 img{
  height: 65vh;
  width: auto;
}
.mint{
  width: 100vw;
  height: 30vh;
}
.mint h3 {
  overflow: hidden;
  border-right: .15em solid rgb(194, 89, 3);
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  text-align:center;
  font-size:6vw;
  animation: 
  typing 4.5s steps(40, end),
  blink-caret .75s step-end infinite;
  animation-iteration-count:infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(194, 89, 3); }
}
#footer-cs{
  color:white;
  text-transform:uppercase;
  font-family:"Oswald";
  text-align:center;
  margin-top:20%;
  font-size:1.8vw;
  width:100vw;
  height:5vh;
}
#content{
  width:100vw;
  height:7vh;
}
#email-cs{
  color:white;
  font-family:"Oswald";
  margin-bottom:3%;
  text-align:center;
  width:33.3vw;
  height:7vh;
  float:left;
}
.email{
  font-size:1.2vw;
  margin-left:12%;
}
#quote{
  color:white;
  font-family:"Oswald";
  font-style:italic;
  text-align:center;
  font-size:1.1vw;
  width:33.3vw;
  float:left;
}
#social{
  float:right;
  width:33.4vw;
  
}
.fphoto img{
  margin-top:4vh;
  width:2vw;
  height:2vw;
}
#instagram{
  width:14.7vw;
  float:left;
  text-align:right;
}
#twitter{
  width:4vw;
  float:left;
  text-align:center;
   
}
#discord{
  width:14.7vw;
  float:right;
  text-align:left;
}
@media (max-aspect-ratio: 5/4){
  .description{
    width:85vw;
    height: 35vh;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    text-align: center;
    font-size: 1.7vh;
  }
  .representation{
    width:80vw;
    height: 45vh;
    margin:auto 0;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: center;
  }
  .representation img{
    height: 40vh;
    border-radius: 5%;
  }
  .major{
    width:100vw;
    height: 500vh;
  }
}
