body{
    background-color: black; 
    padding: 0; 
    margin: 0;
    font-family: "Oswald";
    color: white;
    overflow: hidden;
    overflow-y:hidden;
    overscroll-behavior-y:none;
}
a{
  text-decoration: none;
  color: white;
}
.major{
  width:500vw;
  height: 100vh;
}
.header{
  position: fixed;
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-size: 1.8vw;
  z-index: 20;
}
.tbbh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.tibh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.tsbh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.rmh{
  width: 17.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.th{
  width: 20vw;
  height: 10vh;
  float:left;
  font-size: 3vw;
}
.gh{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.abh{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.soch{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.bgh{
  float: right;
  width: 400vw;
  height: 10vh;
  overflow: hidden;
}
.bgh img{
  width: 400vw;
  height: 10vh;
  object-fit: cover;
  filter:brightness(60%)
}
.bg{
  float:left
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.bg img{
  float:left;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.TBB{
  width: 100vw;
  height: 100vh;
  float:left;
}
.titledesc{
  width: 100vw;
  height:15vh;
  text-align: center;
  font-size: 7vw;
}
.desc{
  width: 50vw;
  height: 75vh;
  float: left;
}
  

  