body{
    background-color: black; 
    padding: 0; 
    margin: 0;
    font-family: "Oswald";
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}
a{
  text-decoration: none;
  color: white;
}
.major{
  width:100vh;
  height: 500vh;
}
.header{
  position: absolute;
  width: 100vw;
  height: 10vh;
  text-align: center;
  font-size: 1.8vw;
  z-index: 20;
}
.tbbh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.tibh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.tsbh{
  width: 7.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.rmh{
  width: 17.5vw;
  height: 10vh;
  float:left;
  margin-top: 2.2vh;
}
.th{
  width: 20vw;
  height: 10vh;
  float:left;
  font-size: 3vw;
}
.gh{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.abh{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.soch{
  width: 13.3vw;
  height: 10vh;
  float:right;
  margin-top: 2.2vh;
}
.bg{
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.bg img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#TBB{
  width: 100vw;
  height: 100vh;
}
.title1{
  text-align: center;
  font-size: 5vw;
}
.description{
  width:30vw;
  height: 50vh;
  margin:auto 0;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  font-size: 1vw;
  float: left;
}
.representation{
  width:30vw;
  height: 50vh;
  margin:auto 0;
  margin-left: 10vw;
  margin-right: 10vw;
  float: right;
}
.representation img{
  width:20vw;
  height:20vw;
}
#TIB{
  width: 100vw;
  height: 100vh;
}
#TSB{
  width: 100vw;
  height: 100vh;
}
#RM{
  width: 100vw;
  height: 100vh;
}
.representation1{
  width: 100vw;
  height: 70vh;
}
.representation1 img{
  margin-left: 17.5vw;
  margin-right: 17.5vw;
  width: 65vw;
  height: auto;
}
.mint{
  width: 100vw;
  height: 30vh;
}
.mint h3 {
  overflow: hidden;
  border-right: .15em solid rgb(194, 89, 3);
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  text-align:center;
  font-size:7vw;
  animation: 
  typing 4.5s steps(40, end),
  blink-caret .75s step-end infinite;
  animation-iteration-count:infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(194, 89, 3); }
}