body{
    background-color: black; 
    padding: 0; 
    margin: 0;
}

.header{
    position: fixed;
    padding: 0;
    margin:0;
    top:0;
    bottom:0;
    width: 100%;
  }
.header a{
    font-family: "Oswald";
    color:white;
    display: inline-block;
    text-decoration: none;
  }
#link hr{
    display: block;
    height: 5px;
    background-image: url("../poza-linie.png");
    border: none;
    margin-top: 2%;
  }
#title{
    font-family: "Oswald";
    font-size: 3.5vw;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 0% 0 0%;
  }
  
#title-tbb{
    font-family: "Oswald";
    font-size: 2vw;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 5% 0 12%;
  
  }
#title-tib{
    font-family: "Oswald";
    font-size: 2vw;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 5% 0 0%;
  }
#title-tsb{
    font-family: "Oswald";
    font-size: 2vw;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 4.3% 0 0%;
  }
  
#title-game{
    font-family: "Oswald";
    font-size: 2vw;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 3% 0 4.3%;
  }
#title-ab{
    font-family: "Oswald";
    font-size: 2vw;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 3% 0 0%;
  }
#title-soc{
    font-family: "Oswald";
    font-size: 2vw;
    color:white;
    display: inline-block;
    text-decoration: none;
    margin: 2% 0% 0 0%;
  }